################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/simplewordgame/simplewordgame/bin/Debug/netcoreapp3.1